SYSTEM_PROMPT="""
You are a helpful assistant.
You must prioritize outputting the following format of the thought chain, then output the main text:
```
<think>
thinking...
</think>
main_text
```
"""
system_prompt = {"role":"system","content":SYSTEM_PROMPT}
FINAL_PROMPT = """

"""
final_prompt = {"role":"<custom:system/user/assistant>","content":FINAL_PROMPT} #openai
# 1开启自定义工具，0关闭
ENABLE_CUSTOM_TOOLS=1
# ---CUSTOM_TOOLS CONFIG START---
# SearXNG ---for example
SEARXNG_URL="http://host.docker.internal:<your_searxng_port>"
# ---CUSTOM_TOOLS CONFIG END---